{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id='profile'>
        <div class="card">
            <div class="card-header">
                <div>
                    <span id='profile-username'></span>
                    <button id="follow-button" type="button" class="btn btn-primary"></button>
                </div>
                <div id="profile-posts">
                    <span id="posts-amount"></span>
                    <span>posts</span>
                </div>
                <div id="followers">
                    <span id='followers-amount'></span>
                    <span>followers</span>
                </div>
                <div id="followings">
                    <span id='following-amount'></span>
                    <span>following</span>
                </div>
            </div>
        </div>    
    </div>
    <div id="newPost">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="new-post-title">New Post</h5>
                <form>
                    <input type="text" id="post_content" class="form-control col-20 input-lg">
                    <input type="submit" class="btn btn-primary" value="Post">
                </form>
            </div>
        </div>
    </div>

    <div id="pages" class="row justify-content-center">
        <ul id="pagination" class="pagination">
            
        </ul>
    </div>

    <div id="posts">

    </div>
{% endblock %} {% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}