{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ profile.username }}</h1>

    <h4>Followers: {{ number_of_followers }}</h4>
    <ul>
        {% for follower in profile_followers %}
        <li>{{ follower.username }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'follow' profile.id %}" method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-primary">Follow</button>
    </form>

    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'profile' post.author.pk %}">{{ post.author }}</a>
            <p class="card-text">{{ post.post }}</p>
            <p class="card-text">Likes: {{ post.likes }}</p>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
        </div>
    </div>
{% endfor %}
{% endblock %}