#post-author:hover {
    text-decoration: underline;
    cursor: pointer;
}

#profile {
    line-height: 40px;
}

#post-author {
    font-size: 20px;
}

.card {
    margin: 10px;
}

#new-post-title {
    font-size: 20px;
}

.card-header {
    display: flex;
}

.card-header > div {
    flex: 1;
}

#follow-button {
    margin-left: 20px;
}

#likes-text {
    margin-right: 20px;
}